#container {
  width: 700px;
  height: 700px;
  margin: 20px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 10px;
  background-color: blueviolet;
}

#pixel {
    background-color: red;
    width: auto;
}